* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #c3bcaa;
  overflow: hidden;
}

img {
  width: 100%;
  border-bottom: 10px;
}

.mybody {
  display: flex;
  background-color: #c3bcaa;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Baloo Thambi 2", cursive;
}

.container {
  padding-bottom: 0px;
}

.top-box {
  margin: 0 auto;
  height: 100vh;
}

.restaurant-box {
  margin: 0 auto;
  height: 400vh;
}

.restaurant-header {
  font-size: 2.5em;
  margin-bottom: 2.5%;
}

.filter-button-group button {
  background: #b0b435;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 5px 30px;
  font-size: 18px;
  margin-left: 0.1em;
}

.restaurant-list {
  width: 100%;
  height: 300px;
  background: #eeeeee52;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  overflow: auto;
}

p {
  display:inline;
  padding:10px;
  margin:0px;
}

.restaurant-block {
  margin-bottom:10px;
}
